@model phours.netcore.model.Cognito.ConfirmForgotPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- REGISTRATION FORM -->
<div class="text-center" style="padding:50px 0">
    <div class="logo">Reset Password</div>
    <!-- Main Form -->
    <div class="login-form-1">
        <form asp-controller="Cognito"
              asp-action="ConfirmForgotPasswordRequest"
              method="post"
              class="text-left"
              role="form"
              id = "ForgotPassword">          
                <div class="login-form-main-message"></div>
                <div class="main-login-form">
                    <div class="login-group">
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.Code, new { @class = "form-control", @placeholder = "Code" })
                            @Html.ValidationMessageFor(m => m.Code, "", new { @class = "text-danger" })
                        </div>
                        <div class="input-group">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "New Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="input-group">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm new Password" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <button type="submit" class="btn btn-warning">Submit</button>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
            </form>
</div>
    <!-- end:Main Form -->
</div>

@section scripts {
<script>
    $(document).ready(function () {
        $("#ForgotPassword").on("submit", function () {
            e.preventDefault();
            $(":submit").attr("disabled", true);
            var spinner = loadSpinner('spinupdate');
            $.ajax({
                type: $("#ForgotPassword").attr('method'),
                url: $("#ForgotPassword").attr('action'),
                data: $("#ForgotPassword").serialize(),
                dataType: "json"
            })
                .done(function (data) {
                    spinner.stop();
                    if (data.result == true) {
                        swal("Success", "You will be redirect to the login password page.", "success");

                    } else {
                        swal("Error", data.msg, "error");
                    }
                })            
    });
</script>
    }


