@model WebAppCore2.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- REGISTRATION FORM -->
<div class="text-center" style="padding:50px 0">
    <div class="logo">Reset Password</div>
    <!-- Main Form -->
    <div class="login-form-1">
        <form asp-controller="Cognito"
              asp-action="ResetPassword"
              asp-route-returnurl="@ViewBag.ReturnUrl"
              method="post"
              class="text-left"
              role="form"
              id = "ResetPassword">          
                @Html.HiddenFor(model => model.Token)
                <div class="login-form-main-message"></div>
                <div class="main-login-form">
                    <div class="login-group">
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="input-group">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Old Password" })
                            @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                        </div>
                        <div class="input-group">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "New Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="input-group">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm new Password" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <button type="submit" class="btn btn-warning">Submit</button>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
                <div class="etc-login-form">
                    <p>already have an account? <a href="#">login here</a></p>
                </div>
            </form>
</div>
    <!-- end:Main Form -->
</div>


